body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    nav{
        height: 50px;
        background-color: #222222;
        color: #fffaf0;
        display: flex;
        align-content: center;
        justify-content: space-around;

        ul{
            width: 200px;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-evenly;

            li{

                a{
                    color: unset;
                    text-decoration: none;
                    font-weight: bold;
                }
                a:hover{
                    color: #2db92d;
                    text-decoration: underline;
                    text-underline-offset: 10px;
                }
            }
        }
    }
}

.article-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .card{
        width: 200px;
        height: 300px;
        background-color: #222222;
        color: #fffaf0;
        border-radius: 20px;
        margin: 20px 10px 0;
        text-decoration: none;

        .card-img{
            width: 180px;
            height: 180px;
            margin: 10px;
            border-radius: 50%;
        }

        .card-body{
            text-align: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .card:hover{
        width: 240px;
        height: 360px;
        border: solid 5px #1C8ADB;

    }
}

.article{
    margin: 25px 0;
    display: flex;
    align-items: center;

    .article-img{
        width: 40%;
        margin: 0 5%;
    }
    .article-body{
        width: 40%;
        margin: 0 5%;
        text-align: center;

        .article-name{
            font-size: 3rem;
            text-decoration: underline;
        }

        .article-description{
            text-align: justify;
            white-space: pre-wrap;
        }

        .article-price{
            font-size: 2rem;
            font-weight: bold;
        }
    }
}

form{
    .login-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        input{
            margin: 20px 0;
            padding: 5px;
            width:200px;
            border: #222222 solid 3px;
            border-radius: 20px;
        }

        label{
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    form > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input{
        margin: 20px 0;
        padding: 5px;
        width:200px;
        border: #222222 solid 3px;
        border-radius: 20px;
    }

    label{
        font-weight: bold;
        font-size: 1.5rem;
    }
}

#comment > div > label {
    display: none;
}

.base-btn{
    margin: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    border: solid 2px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.red-btn{
    background-color: #fffaf0;
    border-color: #af0000;
    color: #af0000;
}

.red-btn:hover{
    background-color: #af0000;
    color: #fffaf0;
    text-decoration: underline;
}

.green-btn{
    background-color: #fffaf0;
    border-color: #2db92d;
    color: #2db92d;
}

.green-btn:hover{
    background-color: #2db92d;
    color: #fffaf0;
    text-decoration: underline;
}

.blue-btn{
    background-color: #fffaf0;
    border-color: #005CC8;
    color: #005CC8;
}

.blue-btn:hover{
    background-color: #005CC8;
    color: #fffaf0;
    text-decoration: underline;
}

.comment-container{
    margin-left: 5%;

    h3{
        margin-left: 5%;
    }

    .comment-post{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .comment-form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.user-welcome{
    margin: 5%;

    p{
        font-style: italic;
    }

    .user-profile{
        margin-bottom: 25px;
        display: flex;

    }
}
  
.table-header{
margin: 5%;
justify-content: space-between;
}

tr:nth-child(even) {background: #e4e4e4}
tr:nth-child(odd) {background: #FFF}

.table{
    width: 90%;
    margin: 0 5%;
    border: #222222 solid 2px;
    border-radius: 5px;

    thead{
        tr{
            background-color: #222222;
            color: #fffaf0;
        }
    }
}