body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    nav{
        height: 50px;
        background-color: #222222;
        color: #fffaf0;
        display: flex;
        align-content: center;
        justify-content: space-around;

        ul{
            width: 200px;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-evenly;

            li{

                a{
                    color: unset;
                    text-decoration: none;
                }
                a:hover{
                    color: limegreen;
                    text-decoration: underline;
                    text-underline-offset: 10px;
                }
            }
        }
    }
}

.article-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card{
        width: 200px;
        height: 300px;
        background-color: #222222;
        color: #fffaf0;
        border-radius: 20px;
        margin: 20px 10px 0;

        .card-img{
            width: 180px;
            height: 180px;
            margin: 10px;
            border-radius: 50%;
        }

        .card-body{
            text-align: center;
        }
    }
}